.workflow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .workflow-inner-container {
    position: relative;
  }
  
  .workflow-images {
    position: relative;
    perspective: 1000px; /* Set the perspective for the 3D effect */
  }
  
  .workflow-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
  }
  
  .workflow-image.current {
    transform: rotateY(0deg);
  }
  
  .workflow-image.next {
    transform-origin: right;
    transform: rotateY(-180deg);
  }
  
  .workflow-image.previous {
    transform-origin: left;
    transform: rotateY(180deg);
  }
  
  
  .workflow-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .previous-btn,
  .next-btn {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 0.5rem;
  }
  
  .previous-btn:disabled,
  .next-btn:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  